.main{
 	margin:50px 15px;
}

.main-login{
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.title-addr {
  margin-top: 25px;
}

.addr {
  margin: auto;
  display: table;
  margin-bottom: 25px;
}

#button {
  border: 1px solid #ccc;
  margin-top: 28px;
  padding: 6px 12px;
  color: #666;
  text-shadow: 0 1px #fff;
  cursor: pointer;
  border-radius: 3px 3px;
  box-shadow: 0 1px #fff inset, 0 1px #ddd;
  background: #f5f5f5;
  background: linear-gradient(to left, #f5f5f5 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px 40px;
  background:#009edf;
  color: #FFF;
  text-shadow: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

.login-button{
	margin-top: 5px;
}

.color {
  color: black;
  font-weight: bolder;
}
